
.idea/workspace.xml

.idea/.name

.idea/ant.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/report.iml

.idea/scopes/scope_settings.xml

.idea/uiDesigner.xml

.idea/vcs.xml

pictures/Thumbs.db

projectFilesBackup/.idea/workspace.xml

report.aux

report.log

report.toc

rfmsi.cls
